
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  }
  .row.fast-food{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    
    justify-content: center;
    justify-items: center;
    padding-bottom: 40px;
  }
  .row.chinese{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    justify-items: center;
    padding-bottom: 40px;
  }
  .row.airfryer{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    justify-items: center;
    padding-bottom: 40px;
  }
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    
    letter-spacing: 5px;
    height:100px;
}


.footer-padding {
	padding-bottom: 60px;
}
.navbar-nav a:hover {
    color: #b12952 !important;
}

.navbar-nav a {
font-family: Arial, Helvetica, sans-serif;

font-weight:bolder;

}

.circular--square { 
    height: 100px;
    width:120px;
    border-radius: 50%;
    margin-left: 10px; 
    margin-top: 20px;
    margin-bottom: 15px;
    align-items: center;
}

.navbar-nav{
    margin-left: 200px;
}
#link1{
margin-left: 30px;
}
#link2{
    margin-left: 10px;
 }
 #link3{
    margin-left: 10px;
 }
 #link4{
    margin-left: 10px;
 }
 .nav-item dropdown{
  font-family: Arial, Helvetica, sans-serif;

  font-weight:bolder;
 }


body { 
    padding:0 !important;
     margin:0 !important;
     
    }
.fw-normal{
  height:50px;
}

.banner{
   
    width: 100vw;
    height: 500px; 
    color: black;
    font-weight:bolder;
    font-size: 30px;
    padding-top: 20px;
    
}

  @keyframes chbg {
    0% {
      background:url("salad.jpg");
    background-size:cover
    }
    20% {
      background:url("rice.JPG");
    background-size:cover
    }
    40% {
      background:url("sandwich.jpg");
    background-size:cover
    }
    60% {
      background:url("chicken.jpg");
    background-size:cover
    }
    80% {
      background:url("pasta.jpg");
    background-size:cover
    }
    100% {
      background:url("kablipulao.jpg");
    background-size:cover
    }
  }

  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap:wrap;
    margin-top: 100px;
    text-align: center;
    
  }
  h2{
    margin-bottom: 40px;
  }
  .circleImg{
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
 
  
  
  .containerFooter{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: auto;
    bottom:0;
    margin-left: 10px;
    margin-right: 10px;
   
  }
  
 
  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.about{
    align-content: center;
    align-items: center;
    justify-content: center;
}




#airfryer{
  display: grid;
  height:auto;
  width:auto;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 40px;
  border: 5px solid rgb(186, 184, 184);
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px 200px ;
  gap:15px;
  justify-items: center;
  text-align: center;
 
}
#fastfood{
  display: grid;
  height:auto;
  width:auto;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 40px;
  border: 5px solid rgb(186, 184, 184);
  grid-template-columns: 300px 300px ;
  grid-template-rows: 200px 200px ;
  gap:15px;
  justify-items: center;
  text-align: center;
 
}
#Chinese{
  display: grid;
  height:auto;
  width:auto;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 20%;
  margin-bottom: 10%;
  margin-top: 5%;
  padding: 40px;
  border: 5px solid rgb(186, 184, 184);
  grid-template-columns: 300px 300px ;
  grid-template-rows: 200px 200px ;
  gap:15px;
  justify-items: center;
  text-align: center;
  
 
}




.img3{
  width:280px;
  height: 140px;
}

.img4{
  width:280px;
  height: 140px;
}
.img5{
  width:280px;
  height: 140px;
}
.img6{
  width:280px;
  height: 140px;
}
.img7{
  width:280px;
  height: 140px;
}
.img8{
  width:280px;
  height: 140px;
}
.img9{
  width:280px;
  height: 140px;
}

.square { 
  height: 300px;
  width:300px; 
}
.rectangle { 
  height: 300px;
  width:500px; 
}

.row{

  justify-items: center;
  justify-content: center;
}
.standalone{
  height: 200px;
  width:200px;
}
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  border: 0;
}


ul, li {
  list-style: none !important;
}
#recipe{
  margin-bottom: 30px;
  margin-right: 10px;
}
#footer-img { 
  height: 80px;
  width:80px;
  border-radius: 50%;
  
  
  
}
.imgFooter{
  margin-left: 20px;
  
}
.socialMedia{
   text-wrap: nowrap;
   margin-top: 10px;
   margin-top: 20px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color:black;
    margin-right: 0px;
    margin-left: 200px;
    transform: translate(-50%,-50%);    
}
 .txtFooter{
    
    padding-left: 10px;
    color: black;
    font-size:medium;
    padding-right: 20px;
    margin-bottom: 20px;
    
    
  }
.socialMedia p{
  text-justify:right;
  margin-right: 10px;
  
}
.social-icon{
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
  line-height: 30px;
  transition: .6s;
}
.socialMedia a{
width: 100px;
height: 100px;
border-radius: 50%;
text-align: center;

border: 1px solid rgb(77, 75, 75);

}
.socialMedia a:hover{
  transform: translate(0,-10px);
}
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}
.carousel-caption h1{
  color: black;
}
.carousel-caption h4{
  color: black;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.mask{
  z-index:999;
}
#nav{
  z-index:999;
}
@media (max-width: 768px) {
  .path {
      text-align: right;
      color: rgb(6, 243, 235) !important; 
      
  }
}
.search{
  z-index:999;
  text-align: justify;
  
  margin: auto;

  display: block;
}
.card-img-top{
  width: 277px;
  height: 200px;
  margin: auto;
}
.card-group{
  display: flex;
  flex-wrap: nowrap;
  direction: var(--bs-gutter-y);
}


.card-deck{
  display: flex;
  flex-wrap: wrap;
}
  

  
